<div>
  <p>User name: {{userInfo.user}}</p>
  <p>User id: {{userInfo.id}}</p>
  <p>Role: {{userInfo.role}}</p>
  <p>Timestamp throw @Input(): {{userInfo.timeStamp | date: 'mediumTime'}}</p>
  <p>String data {{simpleData ?  simpleData : ''}}</p>
  <p>Timestamp throw OnChanges: {{userInfo.timeStamp | date: 'mediumTime'}}</p>
  <p>Number of OnChanges Calls: {{onChangesCount}} </p>
  <p>Data resiving throw setter: {{code}}</p>
  <input type="text" class="form-control" placeholder="Title..." [(ngModel)]="newPost.title"
    (ngModelChange)="immediateDataUpdate($event)">
  <input type="text" class="form-control" placeholder="Text..." [(ngModel)]="newPost.text">
  <input type="text" class="form-control" placeholder="Modify parent title" [ngModel]="parentTitle"
    (ngModelChange)="onTitleChange($event)">

  <button class="btn" (click)="addPost()">Добавить пост</button>
</div>